a{
    text-decoration: none;
}

body{
    text-align: center;
    background-color: bisque;
 }

.box{
    background-color: white;  
    padding: 5px;
    box-shadow: 10px 10px 10px -10px gray;
    
}

.container{
    width: 32%;
    margin: 0 auto;
    margin-top: 20px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

h1{
    color: white;
}

.heading{
    /* display: block; */
    text-align: center;
    background-color: plum;
    padding: 10px;
    color: white;
    font-size: 2rem;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input:checked +p{
    text-decoration: line-through;
    
}

.item{
    display: flex;
    align-items: center;
    
}

.item input{
    margin: 20px;
}

footer{
   color: gray;
   text-align: center;
}

